# 3rd ...Class.

In [2]:
print(2+3)

print(2/3)
print(2-3)

print(2*3)

5
0.6666666666666666
-1
6

In [8]:
a = 5
b = a
print(b)


b -= 2
print(b)

5
3

In [13]:
a = 5
b = 5

print(a>b)
print(a<=b)
print(a==b)

False
True
True

In [20]:
a = False
b = False
print( a and b)

print( not b)

False
True

In [22]:
a = 6
b = 6
print( a & b)

6

In [25]:
a = 9
b = [ 1, 2, 3, 5, 6]
if a  not in b:
    print(" here is value available")

 here is value available

In [28]:
a = 5
b = 6
if a is not b:
    print("same value")
else:
    print("not same ")

same value

## conditonnal statemanets

In [37]:
#if 


mark = 40
if mark <= 39:
    print("pass mark")

In [49]:
#if ---else


mark = 60
if mark <= 40:
    print("pass mark")

elif mark <= 50:
    print("good mark")

else:
    print(" not pass mark")

 not pass mark

In [54]:
#while loop
s = 1
while s<5:
    print("bangladesh")
    s += 1

bangladesh
bangladesh
bangladesh
bangladesh

In [58]:
n = 10
while n>=1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

In [60]:
n = 1
while n<=20:
    print(n)
    n += 2

1
3
5
7
9
11
13
15
17
19

In [62]:
n = 1
value = 0
while n<=20:
    value = value + n
    n += 1

print(value)

210

In [63]:
#for loop


for i in range(1, 20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [65]:
for n in range(10, 1, -1):
    print(n)

10
9
8
7
6
5
4
3
2

In [66]:
for n in range(5):
    print("bangladesh")

bangladesh
bangladesh
bangladesh
bangladesh
bangladesh

In [67]:
for n in range(20):
    if ((n%2)==1):
        print(n)

1
3
5
7
9
11
13
15
17
19

In [69]:
value = 0

for n in range(10):
    value = value + n
print(value)

45

In [70]:
i = 0
for n in range(11):
    if ((n%2)==0):
        print(n, "this is even number")

    elif ((n%2)==1):
        print(n, "this is odd number")

0 this is even number
1 this is odd number
2 this is even number
3 this is odd number
4 this is even number
5 this is odd number
6 this is even number
7 this is odd number
8 this is even number
9 this is odd number
10 this is even number

In [79]:

for n in range(10):
    pass


print("hello")

hello

In [82]:
a = [2, "value", 5]
print(type(a))

print(a[1])

<class 'list'>
value