# **Day -2 lecture**

In [2]:
print(4444)
print("Hello welcome")

4444
Hello welcome

In [3]:
variablename = input()
print(variablename)

hello

In [4]:
print("output", variablename)

output hello

In [7]:
a = 5
A = 6

print(a)
print(A)

print(id(a))
print(id(A))

5
6
140459277025648
140459277025680

In [10]:

a = b = c = 34
print(a)
print(b)
print(c)


print(id(a))
print(id(b))
print(id(c))

34
34
34
140459277026576
140459277026576
140459277026576

In [11]:


a,b,c = 22, 34, 46
print(a)
print(b)
print(c)


print(id(a))
print(id(b))
print(id(c))

22
34
46
140459277026192
140459277026576
140459277026960

In [13]:
variable_a = "it's a value"
variable_b = 'it"s b value'

print(variable_a)
print(variable_b)

it's a value
it"s b value

In [18]:
user = input()
print(user)
print(type(user))


user2 = int(input())
print(user2)
print(type(user2))

333
<class 'str'>
4444
<class 'int'>

In [21]:
user = input()
print(user)
print(type(user))


user2 = input()
print(user2)
print(type(user2))


neww = user + user2
print(neww)

4
<class 'str'>
5
<class 'str'>
45

In [24]:
user = float(input())
print(user)
print(type(user))


user2 = int(input())
print(user2)
print(type(user2))


neww = user + user2
print(neww)

4.7
<class 'float'>
5
<class 'int'>
9.7

In [34]:
s = "Welcome to python with Django"

print(s[5:9])
print(s[:])
print(s[22:])


print(s[-5:-1])

print(s[:-1])

me t
Welcome to python with Django
 Django
jang
Welcome to python with Djang

In [49]:
value = "Welcome W to python  W with Django"

print(value.upper())
print(value.lower())

value2 = "  Welcome to python with Django   "
print(value2.strip())
print(value.replace("W", "A"))

WELCOME W TO PYTHON  W WITH DJANGO
welcome w to python  w with django
Welcome to python with Django
Aelcome A to python  A with Django

In [56]:
value = "Welcome to python with Django"

new = value.split()
print(new)

new1 = tuple(new)
print(new1)

new1 = set(new)
print(new1)

['Welcome', 'to', 'python', 'with', 'Django']
('Welcome', 'to', 'python', 'with', 'Django')
{'with', 'Welcome', 'Django', 'python', 'to'}

In [58]:
x = 33

print(float(x))

33.0

In [60]:
x = 50 > 10
print(x)

True

In [62]:
dica = {4:4.5, "a":"b"}
print(dica)


print(type(dica))

{4: 4.5, 'a': 'b'}
<class 'dict'>

# Class -02 Assignment

In [63]:
#Print your name.

print("my name is raju mia")

my name is raju mia

In [66]:
#2. Input your batch number using input() function.


user = input("inter your name: ")
print(user)

rajumia

In [ ]:
# 3. Create 5 different valid Variables and print.
variable_1 = 
Variable_1 = 
varVary =
VaryVary =
vary_vary =

In [ ]:
#4. Create Pascal Case Variable.


PascalValueIs =

In [67]:
#5. Assign a single value to Multiple variables with memory location.
a = b = 23
print(a, id(a))
print(b, id(b))

23 140459277026224
23 140459277026224

In [69]:
# 6.Input float value using input().
value = float(input())

In [70]:
print(value)

33.0